doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Android

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Android

      section
        h2 Apa Itu Android???
        p Android adalah sistem operasi berbasis Linux yang dirancang untuk perangkat seluler layar sentuh seperti telepon pintar dan komputer tablet. Android didasarkan pada manipulasi langsung, menggunakan masukan sentuhan yang serupa dengan tindakan di dunia nyata, seperti menggesek, mengetuk, dan mencubit untuk memanipulasi obyek di layar.
      section
        h2 Sejarah Android </br>
        p <img src="andyrubin.jpg",width=20 cm,height=30 cm>
        p </br><font size= 1 px color="Red">Andy Rubin</font></br></br>
        p Android, Inc. didirikan di Palo Alto, California, pada bulan Oktober 2003 oleh Andy Rubin, Rich Miner, Nick Sears, dan Chris White untuk mengembangkan "perangkat seluler pintar yang lebih sadar akan lokasi dan preferensi penggunanya"

      section
        h2 Android Kitkat
        h3 merupakan versi Android terbaru 4.4, yang dapat digunakan untuk perangkat yang menggunakan RAM minimal 512 MB. Sehingga perangkat Android kelas Entry level pun akan dapat merasakan update terbaru dari OS Android terbaru dari Google ini. 
        

      section
        h3 10 Fitur Baru di Android Kitkat
        ul 
          li 1. Enhanced Caller ID <br> Orang-orang memiliki kecenderungan untuk mengabaikan panggilan dari nomor telepon yang tidak dikenali. Nah, kalau kamu menerima panggilan yang nomornya tidak ada di dalam Kontak kamu, maka Android KitKat akan mencoba untuk mengambil informasi Caller ID dari daftar lokal dalam Google Maps. Fitur ini bisa sangat berguna bagi orang-orang yang memiliki keluarga dan teman-teman yang menelepon dari nomor tempat mereka bekerja. Misalnya gini, kamu dapat nomor dari 0274-6678xxx, nah Google bakal ngasih tau dimana lokasi dan tempat perusahaan si penelpon.

          li 2. Ok Google <br> Kamu tidak perlu lagi menyentuh layar untuk melakukan pencarian, mengirim teks, mencari arah atau memutar musik. Bila kamu berada di layar awal (home screen) atau memiliki aplikasi Google Now, kamu cukup mengatakan “Ok Google” diikuti dengan perintah untuk melakukan salah satu dari tugas-tugas yang kamu inginkan. Misal nih, kamu dapat mengatakan perintah seperti “Ok Google, where is the closest McDonalds.” atau “Ok Google, play Rihanna.” Sungguh asyik bukan?

          

      section
        ul 
          li 3. Immersive Display <br> Dalam versi Android sebelumnya, status bar dan tombol navigasi tetap muncul di layar saat kamu sedang bermain game atau menonton film. Saya kira hal itu sangat mengganggu, nah di Android KitKat ini telah ditambahkan sebuah fitur untuk menyembunyikan status bar dan tombol navigasi agar tampilan Android kamu bisa benar-benar full screen.

          li 4. Contact Prioritization <br> Android KitKat mem-prioritaskan kontak berdasar pada orang-orang yang lebih sering kamu ajak SMS-an atau lebih sering kamu telepon. Dari aplikasi Contacts, kamu juga dapat mencari tempat nongkrong atau restaurant yang paling dekat di daerah kamu melalui search box yang berada pada bagian atas. Aplikasi Kontak Android KitKat ini juga ter-integrsi dengan aplikasi kontak Google kamu.

      section
        ul 
          li 5. Message Consolidation <br> Android KitKat telah menggabungkan SMS, MMS, Panggilan video dan Google Hangouts chat dalam satu aplikasi. Aplikasi Android KitKat Messagess juga mendukung share-location dan mengirimkan animasi GIF ke teman kamu. Hampir mirip pada aplikasi iMessage pada iOS, bedanya pada iMessage kita tidak bisa mengirim gambar gambar format GIF.

          li 6. Emojis <br> Google telah menambahkan Emojis ke Keyboard Android KitKat. Emoji adalah istilah Jepang untuk ideogram dan smiley yang digunakan dalam pesan teks dan website. Kamu dapat menambah isi pesan kamu dengan menempatkan smiley, mobil, hewan, dan ikon menarik lainnya dengan fitur ini. Fitur ini meniru pada iOS keyboard, tapi ndak apa-apa, yang bagus-bagus memang harus ditiru, selama itu tidak melanggar hak cipta.

      section
        ul 
          li 7. Cloud Printing Support <br> Android KitKat memiliki dukungan untuk Cloud Printing (pencetakan di awan). Jadi, kamu bisa mencetak dokumen, presentasi, website dan foto dari ponsel KitKat atau tablet. Agar fitur ini bisa bekerja, printer kamu harus terhubung ke Google Cloud Print atau HP ePrint.

          li 8. Quickoffice <br> Google Quickoffice akan terinstal dengan Android KitKat. Quickoffice mendukung pengeditan dokumen, spreadsheet, dan presentasi yang dibuat dengan Microsoft Office atau Google Docs. Ketika Anda login ke Quickoffice menggunakan akun Google kamu, aplikasi akan menampilkan dokumen yang telah tersimpan dalam Google Docs dan akun Google Drive. Juara. Tidak rugi Google mengakuisisi QuickOffice tahun lalu.

      section
        ul 
          li 9. Step Detector And Step Counter <br> Android KitKat memiliki detektor langkah dan penghitung langkah, sehingga aplikasi yang berhubungan dengan kebugaran/fitness dapat melacak ketika pengguna sedang berjalan, berlari, dan memanjat tangga. Langkah detektor ini menggunakan input accelerometer untuk mengenali ketika pengguna telah mengambil langkah. Penghitung Langkah ini akan melacak jumlah langkah sejak terakhir kamu me-restart perangkat kamu. Aplikasi Runtastic Pedometer menggunakan Step Detektor dan Step Counter ini untuk melacak apakah kamu sudah melakukan 10.000 langkah per hari yang direkomendasikan untuk mempertahankan gaya hidup sehat.

          li 10. Full-Screen Album And Movie Art Combined With Controls <br> Ketika kamu sedang memainkan streaming musik atau memproyeksikan film ke Google Chromecast dari perangkat KitKat kamu, kamu bisa melihat full-screen album dan Movie art di tampilan gadget Android kamu. Pada layar terkunci (lock screen) di situ bakal ada kontrol yang memungkinkan kamu untuk memutar (Play), Pause, atau melompat ke lagu selanjutnya atau bab film selanjutnya.

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild