doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Android

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    article

      section(data-bespoke-state='cover')
        h1 Android

      section(data-bespoke-state='cover')
        h2 Pengenalan Android
        ul
          li
          li 1. Apa itu Andoid?
          li 2. Sejarah Android
          li 3. Android 4.0 (Ice Cream Sandwich)
          li 4. Android 4.1 (Jelly Bean)
          li 5. Android 4.4 (Kitkat)

      section(data-bespoke-state='cover')
        h2 Apa Itu Android???
        ul
          li 
          li Android adalah sistem operasi berbasis Linux yang dirancang untuk perangkat seluler layar sentuh seperti smartphone dan tablet. Android didasarkan pada manipulasi langsung, menggunakan metode masukan sentuhan yang serupa dengan tindakan di dunia nyata, seperti menggesek, mengetuk, dan mencubit untuk memanipulasi obyek di layar.

      section(data-bespoke-state='cover')
          h2 Sejarah Android </br>
          ul
            li <img src="andyrubin.jpg">
            li </br><font size= 5 px color="Red">Andy Rubin</font></br></br>
            li Android, Inc. didirikan di Palo Alto, California, pada bulan Oktober 2003 oleh Andy Rubin, Rich Miner, Nick Sears, dan Chris White untuk mengembangkan "perangkat seluler pintar yang lebih sadar akan lokasi dan preferensi penggunanya"

      section(data-bespoke-state='cover')
        h2 Android 4.0 (Ice Cream Sandwich)
        ul
          li <img src="Android-Ice-Cream-Sandwich.jpg">
          li Android versi ini (atau bisa disingkat ICS) memiliki beberapa kelebihan dibandingkan dengan android versi sebelumnya. Berikut beberapa kelebihan dari ICS :

      section(data-bespoke-state='cover')
        ul
          li <h4> 1. Roboto
          li <img src="roboto.jpg">
          li Droid Sans yang telah menjadi font di Android telah diganti dengan typeface baru bernama Roboto.

      section(data-bespoke-state='cover')
        ul
          li <h4> 2. Face Unlock 
          li <img style="float: left; margin: 0px 15px 15px 0px;" src="faceunlockics.png">
          li </br></br></br>Untuk membuka layar (lockscreen) tersedia opsi selain menggeser (slide), PIN & Password. Sekarang tersedia pendeteksi wajah yang cukup keren dan canggih. Hanya dengan mendekatkan wajah ke gadget, maka Android akan mengenalinya lalu membuka layar buat pengguna.

      section(data-bespoke-state='cover')
        ul
          li <h4> 3. Taking Screenshots 
          li <img src="Screenshots.jpg", width="380", height="200">
          li Kita bisa dengan mudah mengambil screenshot (tampilan layar yg sedang aktif) tanpa harus menginstal aplikasi tambahan. Caranya mudah, hanya dengan menekan tombol power + volume down secara bersamaan, atau tombol power + home sekaligus. Tidak lebih dari satu detik, secara otomatis akan keluar bingkai (frame) warna putih, yang menandakan proses screenshoot berhasil. Gambarnya bisa dilihat pada gallery.
     
      section(data-bespoke-state='cover')
        ul
          li <h4> 4. Notifications
          li <img src="notif-ics.png"> 
          li Google melakukan perombakan besar di area ini. Kini music control telah terintegrasi dan notifikasi juga mudah dihilangkan dengan cara swipe ke kiri atau kanan. Pengguna juga bisa mengintip notifikasi kendati layar ponsel dalam keadaan terkunci.

      section(data-bespoke-state='cover')
        ul
          li <h4> 5. Advanced Call Options
          li <img style="float: left; margin: 0px 15px 15px 0px;" src="acs-ics.jpg">
          li </br></br></br></br>Kita bisa menolak atau mengakhiri panggilan hanya dengan menggunakan tombol power saja, jadi tidak perlu lagi mencari tombol merah "End Call". Kita juga bisa menolak panggilan atau menolak dengan SMS. Untuk melakukan hal ini cukup pilih pengaturan pada "Call".
      section(data-bespoke-state='cover')
        ul
          li <h4> 6. Transfer Data Dengan Android Beam
          li <img src="ab-ics.jpg"> 
          li Melalui Android Beam ini kita bisa mentransfer data antara dua perangkat dengan cara yang mudah. Teknologi ini menggunakan fitur NFC (Near Field Communication), tetapi kedua ponsel harus menjalankan Android Beam terlebih dahulu. Dengan begitu kita bisa dengan mudah mentransfer foto, contact atau file multimedia hanya dengan mendekatkan dua gadget (tanpa perlu menyentuhnya). (Android Beam tidak tersedia pada semua gadget, hanya perangkat tertentu saja.)

      section(data-bespoke-state='cover')
        h2 Android Jelly Bean
        ul
          li <img src="Android-Jelly-Bean-Logo.jpg" height="150px">
          li <h5>Google mengumumkan Android 4.1 (Jelly Bean) dalam konferensi Google I/O pada tanggal 27 Juni 2012. Berdasarkan kernel Linux 3.0.31, Jelly Bean adalah pembaruan penting yang bertujuan untuk meningkatkan fungsi dan kinerja antarmuka pengguna (UI). Pembaruan ini diwujudkan dalam "Proyek Butter", perbaikan ini termasuk antisipasi sentuh, triple buffering, perpanjangan waktu vsync, dan peningkatan frame rate hingga 60 fps untuk menciptakan UI yang lebih halus.
        

      section(data-bespoke-state='cover')
        h3 Beberapa Fitur Unik di Android Jelly Bean
        ul 
          li <h4> 1. Google Now
          li <img src="1.jpg" height="250px" style="float: left;">
          li Google Now dikatakan akan memberikan kepada pengguna informasi yang tepat pada saat yang tepat pula. Informasi dalam Google Now disajikan dalam bentuk kartu-kartu informasi yang merepresentasikan beberapa jenis informasi yang berbeda-beda seperti cuaca, lokasi, skor olahraga dan sebagainya.

      section(data-bespoke-state='cover')
        ul
          li <h4> 2. Notifications
          li <img src="2.jpg" height="250px" style="float: left;">
          li Meski bar notifikasi yang diusung oleh Jelly Bean tidak mengalami banyak perubahan, namun begitu Anda dapat dengan mudah melihat beberapa peningkatan. Salah satunya ketika Anda menerima pesan sms, maka bar notifikasi akan menampilkan pilihan quick reply yang memungkinkan Anda untuk menjawab langsung pesan tanpa harus masuk ke menu pesan. Anda juga dapat menelepon langsung dengan memilih telepon. Sementara itu ketika Anda menerima email masuk, maka Anda dapat melihat preview dari email tersebut.

      section(data-bespoke-state='cover')
        ul
          li <h4> 3. Google Assistant
          li <img src="3.jpg" height="250px" style="float: left;">
          li Popularitas SIRI besutan Apple, tentu telah membuat kompetitor untuk mau tidak mau mengejar dengan menawarkan produk serupa dengan kualitas yang lebih baik. Untuk itulah Google meluncurkan Google Assistant, yang menggunakan basis fitur perintah suara. Anda dapat mengirim sms, email, menelepon teman dan sebagainya. Untuk mengaktifkan Google Assistant, silakan tekan ikon mikrofon yang terdapat pada kotak pencarian Google.

      section(data-bespoke-state='cover')
        ul
          li <h4> 4. Face Unlock dengan Liveness Check
          li <img src="4.jpg" height="150px" style="float: left;">
          li Face Unlock pada Jelly Bean memang bukanlah hal yang baru, karena fitur ini telah diperkenalkan sebelumnya pada versi Ice Cream Sandwich. Namun begitu, Anda semua tentu telah tahu bahwa Face Unlock dapat dengan mudah dikelabui menggunakan foto. Oleh karena itu pada update Android yang terbaru ini, Google menambahkan fitur Liveness Check yang mengharuskan pengguna mengedipkan matanya untuk membuka kunci layar. Jika pengguna tidak mengedipkan mata, Jelly Bean akan mengharuskan Anda untuk memasukkan password atau pola sesuai dengan pengaturan yang Anda lakukan saat fitur Face Unlock diaktifkan.

      section(data-bespoke-state='cover')
        ul
          li <h4> 5. Screen Capture
          li <img src="5.jpg" height="250px" style="float: left;">
          li Meski juga bukan merupakan fitur baru, Google menambahkan beberapa fitur baru pada Jelly Bean. Untuk mengambil screen capture, Anda cukup menekan tombol power dan volume bagian bawah secara berbarengan. Setelah gambar berhasil diambil, pengguna dapat langsung mengeditnya. Anda dapat melakukan cropping, rotasi, dan membagikannya melalui email atau jejaring sosial.

      section(data-bespoke-state='cover')
        ul
          li <h4> 6. Say it Offline
          li <img src="6.jpg" height="250px" style="float: left;">
          li Speech to text memang merupakan fitur yang telah lama ada pada Android beberapa waktu lalu. Nah pada Jelly Bean, Anda dapat mengkonversi ucapan kedalam teks tanpa harus terhubung dengan koneksi data operator atau Wi-Fi. Ya, menulis pesan dengan perintah suara kini mungkin untuk Anda lakukan meski perangkat tidak tersambung ke internet. Hal ini dimungkinkan, karena pengenalan suara kini dapat dilakukan langsung dari perangkat Jelly bean tanpa harus diupload terlebih dulu ke server.

      section(data-bespoke-state='cover')
        ul
          li <h4> 7. Mematikan notifikasi untuk aplikasi tertentu tanpa menghapusnya
          li <img src="8.jpg" height="250px" style="float: left;">
          li Anda merasa terganggu dengan masuknya notifikasi dari sebuah aplikasi? Tenang, pada Jelly Bean Anda dapat mematikannya tanpa harus melakukan proses uninstal aplikasi tersebut. Untuk mematikan notifikasi yang berlaku pada aplikasi tertentu, silakan ikuti tips berikut:
          ul
            li o Tekan menu dan masuk ke kelola apl
            li o Pilih aplikasi yang ingin Anda matikan notifikasinya
            li o Hilangkan tanda centang pada tampilkan pemberitahuan

      section(data-bespoke-state='cover')
        ul
          li <h4> 8. Barrel Roll
          li <img src="10.jpg" height="250px" style="float: left;">
          li Sebagai bagian dari fitur unik Jelly Bean, Anda dapat melakukan trik barrel roll yang merupakan upaya Google untuk memamerkan kelebihan yang dimiliki oleh browser yang dimilikinya dengan menunjukkan efek menggelindingkan halaman situs yang sedang dikunjungi layaknya sebuah roda.


      section(data-bespoke-state='cover')
        h2 Android Kitkat
        ul
          li <img src="Android-4-4-2-KitKat-Test-Firmware-for-Samsung-Galaxy-S4-Leaks-Download-415587-2.jpg">
          li <h5>merupakan versi Android terbaru 4.4, yang dapat digunakan untuk perangkat yang menggunakan RAM minimal 512 MB. Sehingga perangkat Android kelas Entry level pun akan dapat merasakan update terbaru dari OS Android terbaru dari Google ini. 
        

      section(data-bespoke-state='cover')
        h3 10 Fitur Baru di Android Kitkat
        ul 
          li <h4> 1. Enhanced Caller ID
          li <img src="10-fitur-terbaik-android-kitkat-5.jpg" height="250px" style="float: left;">
          li Orang-orang memiliki kecenderungan untuk mengabaikan panggilan dari nomor telepon yang tidak dikenali. Nah, kalau kamu menerima panggilan yang nomornya tidak ada di dalam Kontak kamu, maka Android KitKat akan mencoba untuk mengambil informasi Caller ID dari daftar lokal dalam Google Maps. Fitur ini bisa sangat berguna bagi orang-orang yang memiliki keluarga dan teman-teman yang menelepon dari nomor tempat mereka bekerja. Misalnya gini, kamu dapat nomor dari 0274-6678xxx, nah Google bakal ngasih tau dimana lokasi dan tempat perusahaan si penelpon.

      section(data-bespoke-state='cover')
        ul
          li <h4> 2. Ok Google
          li <img src="10-fitur-terbaik-android-kitkat-1.jpg" height="250px" style="float: left;">
          li Kamu tidak perlu lagi menyentuh layar untuk melakukan pencarian, mengirim teks, mencari arah atau memutar musik. Bila kamu berada di layar awal (home screen) atau memiliki aplikasi Google Now, kamu cukup mengatakan “Ok Google” diikuti dengan perintah untuk melakukan salah satu dari tugas-tugas yang kamu inginkan. Misal nih, kamu dapat mengatakan perintah seperti “Ok Google, where is the closest McDonalds.” atau “Ok Google, play Rihanna.” Sungguh asyik bukan?

      section(data-bespoke-state='cover')
        ul 
          li <h4> 3. Immersive Display
          li <img src="10-fitur-terbaik-android-kitkat-3.jpg" height="250px" style="float: left;">
          li Dalam versi Android sebelumnya, status bar dan tombol navigasi tetap muncul di layar saat kamu sedang bermain game atau menonton film. Saya kira hal itu sangat mengganggu, nah di Android KitKat ini telah ditambahkan sebuah fitur untuk menyembunyikan status bar dan tombol navigasi agar tampilan Android kamu bisa benar-benar full screen.

      section(data-bespoke-state='cover')
        ul
          li <h4> 4. Contact Prioritization
          li <img src="10-fitur-terbaik-android-kitkat-4.jpg" height="250px" style="float: left;">
          li Android KitKat mem-prioritaskan kontak berdasar pada orang-orang yang lebih sering kamu ajak SMS-an atau lebih sering kamu telepon. Dari aplikasi Contacts, kamu juga dapat mencari tempat nongkrong atau restaurant yang paling dekat di daerah kamu melalui search box yang berada pada bagian atas. Aplikasi Kontak Android KitKat ini juga ter-integrsi dengan aplikasi kontak Google kamu.

      section(data-bespoke-state='cover')
        ul 
          li <h4> 5. Message Consolidation
          li <img src="10-fitur-terbaik-android-kitkat-6.jpg" height="250px" style="float: left;">
          li Android KitKat telah menggabungkan SMS, MMS, Panggilan video dan Google Hangouts chat dalam satu aplikasi. Aplikasi Android KitKat Messagess juga mendukung share-location dan mengirimkan animasi GIF ke teman kamu. Hampir mirip pada aplikasi iMessage pada iOS, bedanya pada iMessage kita tidak bisa mengirim gambar gambar format GIF.

      section(data-bespoke-state='cover')
        ul
          li <h4> 6. Emojis
          li <img src="10-fitur-terbaik-android-kitkat-7.jpg" height="250px" style="float: left;">
          li Google telah menambahkan Emojis ke Keyboard Android KitKat. Emoji adalah istilah Jepang untuk ideogram dan smiley yang digunakan dalam pesan teks dan website. Kamu dapat menambah isi pesan kamu dengan menempatkan smiley, mobil, hewan, dan ikon menarik lainnya dengan fitur ini. Fitur ini meniru pada iOS keyboard, tapi ndak apa-apa, yang bagus-bagus memang harus ditiru, selama itu tidak melanggar hak cipta.

      section(data-bespoke-state='cover')
        ul 
          li <h4> 7. Cloud Printing Support
          li <img src="10-fitur-terbaik-android-kitkat-8.jpg" height="250px" style="float: left;">
          li Android KitKat memiliki dukungan untuk Cloud Printing (pencetakan di awan). Jadi, kamu bisa mencetak dokumen, presentasi, website dan foto dari ponsel KitKat atau tablet. Agar fitur ini bisa bekerja, printer kamu harus terhubung ke Google Cloud Print atau HP ePrint.

      section(data-bespoke-state='cover')
        ul
          li <h4> 8. Quickoffice
          li <img src="10-fitur-terbaik-android-kitkat-9-550x350.jpg" height="250px" style="float: left;">
          li Google Quickoffice akan terinstal dengan Android KitKat. Quickoffice mendukung pengeditan dokumen, spreadsheet, dan presentasi yang dibuat dengan Microsoft Office atau Google Docs. Ketika Anda login ke Quickoffice menggunakan akun Google kamu, aplikasi akan menampilkan dokumen yang telah tersimpan dalam Google Docs dan akun Google Drive. Juara. Tidak rugi Google mengakuisisi QuickOffice tahun lalu.

      section(data-bespoke-state='cover')
        ul 
          li <h4> 9. Step Detector And Step Counter
          li <img src="10-fitur-terbaik-android-kitkat-10.jpg" height="250px" style="float: left;">
          li Android KitKat memiliki detektor langkah dan penghitung langkah, sehingga aplikasi yang berhubungan dengan kebugaran/fitness dapat melacak ketika pengguna sedang berjalan, berlari, dan memanjat tangga. Langkah detektor ini menggunakan input accelerometer untuk mengenali ketika pengguna telah mengambil langkah. Penghitung Langkah ini akan melacak jumlah langkah sejak terakhir kamu me-restart perangkat kamu. Aplikasi Runtastic Pedometer menggunakan Step Detektor dan Step Counter ini untuk melacak apakah kamu sudah melakukan 10.000 langkah per hari yang direkomendasikan untuk mempertahankan gaya hidup sehat.

      section(data-bespoke-state='cover')
        ul
          li <h4> 10. Full-Screen Album And Movie Art Combined With Controls
          li <img src="10-fitur-terbaik-android-kitkat-2.jpg" height="250px" style="float: left;">
          li Ketika kamu sedang memainkan streaming musik atau memproyeksikan film ke Google Chromecast dari perangkat KitKat kamu, kamu bisa melihat full-screen album dan Movie art di tampilan gadget Android kamu. Pada layar terkunci (lock screen) di situ bakal ada kontrol yang memungkinkan kamu untuk memutar (Play), Pause, atau melompat ke lagu selanjutnya atau bab film selanjutnya.

      section(data-bespoke-state='cover')
        h2 Tips & Trik Android
        ul
          li
          li 1. Rooting
          li 2. Custom Roms
          li 3. Flashing

      section(data-bespoke-state='cover')
        ul
          li <h2> Rooting
          li <h3> 1. Pengertian Rooting dan Fungsinya
          ul
            li <h4> - Pengertian Rooting
            li Root adalah suatu akun sistem yang memiliki kekuasaan mutlak guna mengakses dan mengeksekusi semua berkas, perintah, dan sistem dalam sistem operasi berbasis Linux (termasuk Android). Intinya, 'root' memiliki akses tanpa batas untuk mengubah, menghapus, menambah, bahkan merusak semua yang ada di dalam sistem Android.

      section(data-bespoke-state='cover')
        ul
          li <h4> - Fungsi Rooting
          li Fungsi untuk melakukan root pada perangkat berbasis Android adalah untuk memberi hak penuh kepada pengguna Android untuk dapat masuk ke dalam sistem Android. Dengan melakukan root, pengguna dapat menambah, mengurangi maupun memodifikasi file atau data-data yang terletak pada sistem Android, di mana dalam keadaan standar (belum root) berkas tersebut tidak dapat diakses. Fungsi root Android adalah memberikan hak administrator kepada pengguna seperti dalam sistem komputer Windows ataupun Linux.

      section(data-bespoke-state='cover')
        ul
          li <h3> Keuntungan dan Kerugian dari Root
          li Smartphone Android yang telah di – root mempunyai banyak keunggulan, tapi juga memiliki sisi negatif yang dapat menyebabkan kerusakan pada sistem Android Anda jika tidak berhati-hati. Berikut ini adalah keuntungan dan kerugian yang mungkin didapat setelah rooting

      section(data-bespoke-state='cover')
        ul
          li <h3> Keuntungan
          ul
            li <h4> 1. Bisa menghapus aplikasi yang di-install di memori internal.
            li Ya, aplikasi – aplikasi smartphone Android yang Anda rasa tidak begitu penting dapat Anda hapus dari sistem, dengan begitu dapat menghemat penggunaan memori utama di ponsel(smartphone). Aplikasi – aplikasi ini biasanya teradapat di /system/app (Froyo 2.2). Untuk menghapusnya file – file (aplikasi) yang ada di sini dapat Anda hapus jika Anda sudah memiliki hak akses root.Peringatan! jangan hapus aplikasi penting seperti Phone.apk karena aplikasi tersebut merupakan aplikasi standard dan penting dari Android, cukup hapus aplikasi – aplikasi yang Anda rasa tidak perlu saja.

      section(data-bespoke-state='cover')
        ul
          li <h4> 2. Bisa menggunakan sistem operasi yang dapat dikustomisasi.
          li Hal ini memang yang paling asik, tapi hal ini perlu dilakukan dengan sangat hati-hati dan tidak sembarangan! Setidaknya Anda perlu mencari beberapa referensi yang paling umum dan sering digunakan oleh para pengguna Android lainnya dan hal ini tidak dapat dilakukan pada semua jenis smartphone Android. Jika Anda mempunyai hak akses root dan mengubah os nya dengan os Mod yang dapat Anda download di beberapa situs seperti http://www.clockworkmod.com/, kinerja Android Anda dapat meningkat, sebagai contoh: penggunaan baterai yang semakin efisien dan hemat, kompatibilitas dengan aplikasi – aplikasi Android akan semakin bertambah(semakin banyak aplikasi-aplikasi android yang bisa dijalankan di smartphone Anda), kinerja hardware akan semakin maksimal, dan lain sebagainya.


      section(data-bespoke-state='cover')
        ul
          li <h4> 3. Bisa mengubah konfigurasi manual hardware pada smartphone Android Anda.
          li Pengalaman yang pernah saya lakukan adalah mengubah konfigurasi GPS pada smartphone Android saya yang awalnya tidak berfungsi(perlu waktu lama untuk menentukan lokasi) sehingga berfungsi dengan baik. Memang perlu kehati-hatian dalam melakukan konfigurasi hardware, karena jika tidak maka dapat menyebabkan sistem error dan bahkan tidak bisa booting!
          li <h5> - Lebih fleksibel dan leluasa dalam pengaturan penyimpanan data di memori.
          li Pengaturan dalam menyimpan aplikasi yang di Android Anda pun akan terasa lebih fleksibel. Sebagai contoh, Anda dapat mememindahkan data dan aplikasi-aplikasi yang tadinya berada di /system/app/ atau dari ‘daerah’ yang memerlukan otoritas root ke memori eksternal Anda (sd card), begitu juga sebaliknya, sehingga Anda dapat mengatur penggunaan memori yang terbatas sesuai dengan keinginan Anda.

      section(data-bespoke-state='cover')
        ul 
          li <h3> Kerugian
          li Ada beberapa hal yang perlu diperhatikan jika Android Anda sudah di root:
          ul
            li <h4> 1. Garansi yang ada dapat hilang.
            li <font size = "2px";>Jika Android Anda sudah di root, maka garansi yang ada di smartphone Android akan hilang. Hal ini berlaku hampir pada semua vendor-vendor smarpthone Android, jika Android Anda ketahuan sudah di root, maka jika terjadi kerusakan / kegagalan sistem, maka vendor / distributor tidak akan mau menerima garansi yang sebenarnya masih berlaku. Memang hal inilah yang paling ditakutkan jika dilakukan root, dan inilah alasan kenapa secara umum smartphone Android Anda tidak disediakan fasilitas root. Jika tersedia fasilitas root, maka kemungkinan kerusakan pada sistem akan semakin meningkat(yang umumnya disebabkan karena ketidak hati-hatian). Sebenarnya ada cara untuk mencegah hilangnya garansi yang telah di – root, yaitu dengan membackup semua aplikasi bawaan vendor kemudian me – unroot android Anda setelah semua aplikasi bawaan telah dikembalikan (di backup) ke smartphone Anda.</font>

      section(data-bespoke-state='cover')
        ul
          li <h4> 2. Ponsel berperilaku tidak normal. 
          li Memang mengkonfigurasi hardware android secara manual dapat meningkatkan kinerja dari Android Anda secara maksimal, tapi itu jika dilakukan secara benar! jika tidak, maka Android Anda akan sering mengalami gangguan, diantaranya: ponsel sering mati dan reboot ulang sendiri, sering ‘hang’ di saat menjalankan aplikasi tertentu, kinerja hardware malah semakin buruk, dan yang paling parah adalah terjadinya bootloop, yaitu sistem Android Anda tidak mau di boot! Jika ponsel Anda tidak mau boot atau mulai berperilaku tidak normal, cara terbaik menanganinya adalah melakukan flashing pada Android Anda. Untuk flashing Android, mungkin caranya berbeda pada perangkat yang satu dengan perangkat yang lain.

      section(data-bespoke-state='cover')
        ul
          li <h4> 3. Overheating pada ponsel.
          li Rooting memang dapat membuat ponsel Anda bekerja lebih cepat dari biasanya. Namun, kekurangannya jika Anda membuat ponsel Anda memacu seluruh kemampuan hardware-nya untuk bekerja secara maksimal adalah terjadinya overheating(panas yang berlebih pada ponsel Anda).
          li Kerugian paling besar dari rooting mungkin adalah Anda akan kesulitan dalam melakukan recovery pada file-file yang telah dihapus di memori internal ponsel. Dan itupun sangat jarang dilakukan oleh pengguna Android(menyimpan file-file penting di memori internal).


      section(data-bespoke-state='cover')
        ul
          li <h2>Cara Root Semua Jenis SmartPhone Android Menggunakan UnlockRoot
          li <img src="banner4.png" height="250px" style="float: left;">
          


      section(data-bespoke-state='cover')
        ul
          li Langkah - langkahnya sebagai berikut;
          li 1. Download Aplikasi UnlockRoot
          li 2. Pastikan anda telah menginstall Driver USB Device anda di PC sebelum menggunakan Software Unlockroot.
          li 3. Pastikan anda mendisable USB Debuging yang ada di Smartphone Android anda, dengan Cara masuk Settings > Applications > Development > Centang USB Debuging
          li 4. Sambungkan SmartPhone Android anda ke PC
          li 5. Jalankan "UnlockRoot.Exe" dan tunggu sampai UnlockRoot mendeteksi SmartPhone anda.
          li 6. Pilih Nama SmartPhone anda saat, Unlockroot medeteksi Smartphone anda.
          li 7. Klik Tombol "Root" untuk memulai Root.

      section(data-bespoke-state='cover')
        ul
          li 8. Tunggu Sampai Proses Rooting selesai, di Tengah Proses Rooting biasanya anda akan di berikan Pilihan untuk menginstall Aplikasi "PowerSaver App" (Optional)
          li 9. Anda mendapatkan Pesan " your device has been successfully rooted"
          li 10. Unlockboot akan memberikan Pesan untuk melakukan Reboot Smartphone anda. Silahkan Rebbot untuk menyelesaikan Proses Rooting.
          li <h5>Sekarang smartphone android anda sudah di ROOT, dan  Mendapatkan Hak Sebagai SuperUser di Ponsel android anda. anda bisa mengakses File System menambah, dan menghapus Aplikasi Bawaan dari Vendor.<h5>



      section(data-bespoke-state='cover')
        ul
          li <h2>Apa itu Customs ROMs?
          li Custom Roms adalah file system firmware perangkat baik berupa handphone, tablet maupun PC yang OS sudah di kostumisasi oleh developer pihak ke 3 dengan tujuan tertentu dan dengan mengubah firmware resmi-asli (Stock ROM ) bawaan vendor perangkat tersebut. 
          li Tidak terkecuali pada perangkat berbasis android, firmware pada android juga dapat dimodifikasi, oleh sebab itu dinamakan dengan android mod (android modification) atau yang lebih dikenal dengan sebutan custom ROM. Sebenarnya ROM sendiri artinya adalah Read Only Memory, tetapi ketika digunakan dalam komunitas modding android maka artinya menjadi custom OS image yang di install kedalam area ROM didalam HP.
          
      section(data-bespoke-state='cover')
        ul
          li <h2> Bagaimana cara mendapatkan custom ROMs?
          li Sebelum kita mendapatkan/meng-install Custom ROMS terlebih dahulu anda memastikan bahwa anda memiliki beberapa hal berikut ini:
              ul
                li File Custom ROM.
                li Download File Custom Recovery di XDA, biasanya berbentuk RAR atau ZIP, setelah itu masuk kedalam Default Recovery dan Install Custom Recovery dari Default Recovery 

      section(data-bespoke-state='cover')
        ul
          li <h4>Langkah - Langkah untuk melakukan Instalasi Custom ROMS pada Device Android anda;</h4>
              ul
                li 1.Simpan file Custom ROM (dan jika ada bahan-bahan lain yang dibutuhkan) didalam SDCard milik anda (Bukan di External SDCard)
                li <img src="FileNeed.png" height="250px" style="float: left;">
                li 2.Jika seluruh file sudah siap dan lengkap, silahkan matikan Device Android anda
                li 3.Kemudian, silahkan masuk kedalam Custom Recovery milik anda (Tekan tombol Volume Up + Power + Home secara bersamaan)
                li 4.Lakukan Factory Reset - Pilih Yes
                li 5.Pilih "Install zip from SDCard" → choose zip from SDCard. Kemudian anda akan mendapatkan beberapa File dan Folder yang ada didalam SDCard anda
      
      section(data-bespoke-state='cover')
        ul
          li 6.Pilih Custom ROM yang sudah anda miliki - Pilih Yes
          li 7.Wipe cache dan dalvik cache - Pilih Yes
          li 8.Reboot,Tunggu sebentar. Biasanya Reboot awal memakan waktu sekitar 3 sampai 4 menit untuk memulai dari awal. kalau Reboot-nya memakan waktu   hampir seharian penuh, itu mungkin aja Bootloop, silahkan lakukan Step 3 kembali atau Install kembali Stock ROM 
          li 9.Kini anda sudah bisa menikmati Custom ROM yang ingin anda gunakan


      

      section(data-bespoke-state='cover')
        ul
          li <h2> Flashing
          li <img src="flashing.jpg"> </br>
          li Flashing adalah menginstal ulang Sistem Operasi (OS) yang berguna untuk memperbaiki software jika ada masalah dan bisa juga untuk Downgrade atau Upgrade OS.

      section(data-bespoke-state='cover')
        h3 Efek Positif dan Negatif dalam melakukan flashing
        ul 
          li <h4> 1. Efek Positif
          li <img src="upandroid.jpg">
          li Efek positif dari flashing adalah terupgradenya Operating System dari android untuk meningkatkan kinerja perangkat atau downgrade untuk memperbaiki Operating System android yang tidak compatible dengan perangkat.

      section(data-bespoke-state='cover')
        ul 
          li <h4> 2. Efek Negatif
          li <img src="downgrade.jpg">
          li Efek negatif dari flashing android adalah processor perangkat akan bekerja ekstra dan panas, beberapa aplikasi akan error pada saat dijalankan, fungsi call/sms yang tidak sempurna dan terdapat file malware/virus selama flashing

      section(data-bespoke-state='cover')
        ul 
          li <h4> Langkah Flashing ANDROID VIA ODIN
          li 1. Pertama-tama kalian siapkan dulu odin agar android kalian bisa di flash.
          li 2. Matikan android mu dan masuk ke dalam Download Mode dengan cara Vol Down + Home Key + Power(lepaskan tombol power setelah 3 detik) tekan terus Vol Down + Home Key sampai masuk Download Mode, lalu tekan tombol Vol Up dan colok kabel data dari PC ke android kalian. Tunggu sampai Odin mengenali android anda.
          li 3. Pada menu odin kalian klik PDA, lalu pilih firmware yang ber-extensi md5 nya yang telah di extract, lalu open. seperti gambar dibawah ini:
          li <img src="ahdhal.png">

      section(data-bespoke-state='cover')
        ul 
          li 4. Tunggu sampai proses installasi firmware selesai. Jika pada kolom port pertama bertuliskan PASS! berarti proses selesai dan android mu akan reboot secara otomatis. Jika android mu sudah masuk ke sistem operasi nya cabut kabel.

          li Touchdown, android mu sekarang sudah menjadi Official Firmware yang asli :)
          li *Dalam kasus ini saya memakai Samsung Galaxy Ace Plus, jadi untuk masuk download mode berbeda dengan kalian, tinggal di sesuaikan aja :)



      section(data-bespoke-state='cover')
        ul 
          li <h4> Langkah Flashing ANDROID VIA EMMA
          li 1. Download Flash tool
          li 2. Unzip atau extract file download. dan jalankan Emma.exe
          li 3. Copy Customization.ini file. pada path :
          li Default path pada Windows 64 bit is: “C:\Program Files (x86)\Sony Mobile\Emma\”
          li Default path pada Windows 32 bit is: “C:\Program Files\Sony Mobile\Emma\”
          li 4. Klik Start > All programs > Sony Mobile > Emma untuk menjalankan flash tool.
          li 5. Hubungkan Xperia kalian pada komputer. (dalam keadaan sudah masuk Download Mode).


      section(data-bespoke-state='cover')
        ul 
          li 6. Dan jika sudah terhubung maka tampilan nya akan seperti ini :
          li <img src="phone.png" height="250px">
          li 7. Pilih firmware yang kalian mau pada Service list, dan Emma ini akan otomatis mencari firmware (update) untuk xperia kalian. *harus terkoneksi dengan internet
          li 8. Cabut devices kalian jika sudah di flash dan tunggu beberapa menit saat booting.

      section(data-bespoke-state='cover')
        h2 Masalah di Android
        ul
          li
          li 1. BootLoop
          li 2. Android Freeze

      section(data-bespoke-state='cover')
        ul
          li <h2> BootLoop</h2>
          li <img src="bootloop.png" height="250px" style="float: left;">

      section(data-bespoke-state='cover')
        ul
          li <h3> Apa itu BootLoop?</h3>
          li Bootloop adalah gabungan dari dua suku kata, yakni kata "boot" dan "loop". Jika diartikan (menurut Wikipedia), kata boot adalah proses awal saat menyalakan komputer, dalam kasus ini kita anggap smartphone atau tablet juga termasuk didalamnya. Biasanya proses boot ini akan menampilkan animasi tertentu yang akan memunculkan logo dari merek perangkat atau logo dari sistem operasi yang digunakan oleh perangkat yang bersangkutan. Sedangkan kata "loop" dalam bahasa Indonesia berarti "simpul" atau "memutar", dalam kasus ini kita artikan sebagai "berulang - ulang". Jadi arti dari "bootloop" adalah proses booting yang terjadi terus menerus (berulang - ulang) sehingga seolah - olah perangkat tersebut "tersangkut" di proses booting dan tidak mampu menyelesaikan proses booting nya (tidak bisa startup).

      section(data-bespoke-state='cover')
        ul
          li <h3> Apa yang menyebabkan terjadinya BootLoop?</h3>
          li Biasanya kasus ini terjadi karena terjadi suatu kesalahan pada sistem (crash dan semacamnya) atau kerusakan software (OS) sehingga perangkat tidak bisa memuat OS dengan baik. Pada kasus di kalangan pengguna Android, biasanya bootloop terjadi setelah mereka gagal melakukan modding pada OS, misalnya mengganti ROM original (Stock ROM) dengan Custom ROM, menambah atau mengganti fitur tertentu pada software dari perangkat yang digunakan atau karena kasus lainnya. Mimin sendiri pernah mengalami hal ini ketika hendak mencoba untuk mengganti jenis font pada perangkat mimin yang ternyata gagal.

      section(data-bespoke-state='cover')
        ul
          li <h3> Cara mengatasi BootLoop</h3>
          li Ada 2 cara untuk mengatasi Bootloop;
          ul
            li 1. Wipe data & Cahe dari Recovery
            li 2. Flashing Firmware(seperti di slide sebelumnya)

      section(data-bespoke-state='cover')
        ul
          li <h3> Wipe data & Cahe dari Recovery</h3>
          ul
            li 1. Matikan Device Android anda
            li 2. Masuk ke Recovery mode, Biasanya dengan menggunakan kombinasi tombol yang ada pada device. Cth : Galaxy mini, untuk masuk recovery mode galaxy mini dengan memencet tombol Tengah + Power. Untuk device lain bisa googling cara masuk Recoverynya.
            li 3. Setelah masuk Recovery Mode pilih Wipe Data - Yes setelah itu Wipe Cache - Yes dan yang terakhir Reboot system now
            li Nah tunggu sampai device anda Restart dan liat hasilnya, 
            li Jika dengan cara ini tidak berhasil anda bisa menggunakan cara kedua.

      section(data-bespoke-state='cover')
        h2 Android Freeze
        ul
          li
          li <img src="freeze.jpg" style="float: left;">
          li </br></br>Android Freeze adalah keadaan dimana perangkat android anda tiba - tiba menjadi hang, atau suka mati sendiri tanpa kita mematikannya secara manual.

      section(data-bespoke-state='cover')
        ul
          li
          li <img src="hang.png" style="float: left;">
          li </br></br>Alasan utama mengapa perangkat Android suka mengalami freeze/hang atau mati sendiri adalah karena terlalu banyak aplikasi yang berjalan disaat yang bersamaan.

      section(data-bespoke-state='cover')
        ul
          h4 Cara Menyembuhkan Android dari Freeze
          li </br></br>1. Menutup Aplikasi yang Sedang Berjalan
          li Masuk ke Home> Menu> Settings> Applications> Manage Applications> kemudian tekan tab RUNNING. Dari sana Anda akan melihat semua aplikasi yang berjalan di latar belakang (background) perangkat. anda juga bisa memilih aplikasi tersebut (messaging, email, games, dll), maka Anda akan dapat menghapus cache (Clear Cache) dan menghentikan paksa (Force Stop) atau cukup menghentikannya saja (Stop). Dengan melakukan ini, akan dapat meringankan kinerja perangkat Anda dan mencegah masalah mati tiba-tiba atau hang.

      section(data-bespoke-state='cover')
        ul
          li </br></br>2. Menghapus Cache Aplikasi Pihak Ketiga
          li Masuk ke Home> Menu> Settings> Applications> Manage Applications> Tekan tombol pihak ke-3 (3rd Party) atau Telah diunduh (Downloaded). Ini semua adalah aplikasi-aplikasi yang telah Anda unduh dari Play Store. Pilih aplikasi dan dari sini Anda juga bisa menghapus cache (Clear Cache) dan menghentikan paksa (Force Stop) atau cukup menghentikannya saja (Stop).

      section(data-bespoke-state='cover')
        ul
          li </br></br>3. Menghapus Pengaturan Privasi Browser
          li Masuk ke Home> Application> WEB / Browser> Menu> More> Settings> Geser ke Privasi> Clear Cache, Cookies, Clear History. Cara ini dapat menambah ruang kosong pada perangkat Anda. Lalu akhiri dengan menyalakan ulang (Soft Reset) (perangkat nyala, copot baterai selama 1 menit atau setidaknya hingga saat Anda ingin menyalakan perangkat Anda kembali) cara ini sama dengan menyalakan ulang komputer.

      section(data-bespoke-state='cover')
        h2 Benchmark
        ul
          li
          li 1. Pengertian Benchmark
          li 2. Kegunaannya
          li 3. Aplikasi Benchmark

      section(data-bespoke-state='cover')
        h2 Pengertian Benchmark
        ul
          li
          li <img src="bench.png" width="200px" height="360px" style="float: left;">
          li Benchmark adalah aktivitas pengukuran/pembandingan beberapa macam produk hardware yang memiliki fungsi sama untuk mengetahui tingkatan kinerjanya. Program benchmark berjalan pada beberapa android device yang berbeda secara berurutan untuk membandingkan kemampuan relatif masing-masing device.



      section(data-bespoke-state='cover')
        ul
          li <h3> Kegunaan Benchmark
          li Benchmarking ini biasanya sangat dibutuhkan untuk perusahaan-perusahaan yang berbasiskan komputer. Tujuan utamanya adalah untuk mengetahui seberapa baik hardware yang dimiliki oleh sebuah smartphone atau tablet. Walaupun begitu, hasil benchmark belum tentu menandakan kencang tidaknya performa keseluruhan. Hal tersebut tergantung dari tingkat optimalisasi produsen dari segi software terhadap hardware-nya. Saat tablet atau smartphone teroptimalisasi dengan benar, seharusnya kinerja berbanding lurus dengan hasil benchmark tersebut.

      section(data-bespoke-state='cover')
        ul
          li <h2>8 Aplikasi Benchmark</h2>
          li <img src="BENCHMARKS.png">

      section(data-bespoke-state='cover')
        ul
          li <h3>1. Antutu Benchmark</h3>
          li <img src="1b.jpg" height="250px" style="float: left;">
          li Aplikasi Antutu Benchmark mengukur kinerja secara komprehensif lewat pengujian "Memory Performance", "CPU Integer Performance","CPU Floating point Performance","2D 3D Graphics Performance", "SD card reading/writing speed", dan "Database I/O". Hasilnya adalah skor komplit dari hampir semua aspek perangkat Android Anda. Dari semua benchmark, Antutu memberikan skor yang yang paling konsisten dan menyeluruh. Apabila Anda hanya sempat mencoba satu benchmark, aplikasi ini adalah pilihannya. 

      section(data-bespoke-state='cover')
        ul
          li <h3>2. GLBenchmark</h3>
          li <img src="2b.jpg" width="250px" height="250px" style="float: left;">
          li Seiring perkembangan grafis dalam game yang semakin lama semakin kompleks, kemampuan olah grafis perangkat Android pun menjadi lebih penting. GLBenchmark menyajikan benchmark yang difokuskan pada kinerja grafis  OpenGL ES 2.x. Pengujiannya meliputi 33 jenis tes yang berbeda, termasuk animasi 3D, pengukuran kinerja grafis low-level, serta pengukuran kemampuan layar perangkat pada resolusi HD. Jika Anda berniat memainkan game pada perangkat Android, aplikasi ini wajib dicoba.

      section(data-bespoke-state='cover')
        ul
          li <h3>3. CF-Bench</h3>
          li <img src="3b.jpg" width="250px" height="250px" style="float: left;">
          li Satu lagi program benchmark yang mampu mengukur kinerja CPU dan I/O perangkat Android Anda. CF-Bench memecah hasil pengukuran dari dua aspek tersebut ke dalam kategori-kategori terpisah. Aplikasi ini berguna untuk mengukur perubahan kinerja dari hasil update kernel atau tweaking. Skor dari berbagai perangkat Androd ditampilkan di situs CF-Bench untuk dibandingkan dengan perangkat milik Anda. 

      section(data-bespoke-state='cover')
        ul
          li <h3>4. Quadrant 2.0</h3>
          li <img src="4b.jpg" height="250px" style="float: left;">
          li Benchmark pada Quadrant 2.0 meliputi pengukuran kecepatan CPU, I/O, dan grafis 3D. Aplikasi ini sudah  beredar selama bertahun-tahun dan menjadi software benchmark standar untuk Android.

      section(data-bespoke-state='cover')
        ul
          li <h3>5. Smartbench 2012</h3>
          li <img src="5b.jpg" height="250px" style="float: left;">
          li Ingin mengukur kinerja prosesor multi-core dalam smartphone Android Anda? Smartbench 2012 adalah aplikasi yang mampu melakukan hal tersebut. Program benchmark ini menjalankan serangkaian pengujian dan memberi skor akhir berupa nilai produktivitas dan gaming. Untuk keperluan perbandingan, kedua nilai  tersebut bisa di-upload ke situs Smartbench.

      section(data-bespoke-state='cover')
        ul
          li <h3>6. Vellamo 2012</h3>
          li <img src="6b.jpg" height="250px" style="float: left;">
          li Di saat sebagian pengguna sudah beralih menjelajah internet dengan perangkat mobile seperti sekarang, kinerja browsing menjadi suatu hal yang penting.Inilah yang bisa diketahui lewat Vellamo, software benchmark yang akan mengukur kinerja jaringan, JavaScript, rendering halaman, dan user experience menggunakan serangkaian skenario yang telah menjadi standar industri. 


      section(data-bespoke-state='cover')
        ul
          li <h3>7. Nenamark2</h3>
          li <img src="7b.jpg" width="250px" height="250px" style="float: left;">
          li Nenamark2 adalah program benchmark grafis berbasis Open-GL ES 2.0 untuk perangkat-perangkat mobile kelas atas yang akan menguji kinerja unit pengolah grafis (GPU). Dengan benchmark ini, Anda bisa melihat seberapa mulus game-game terkini atau yang akan datang di masa depan dapat berjalan di perangkat Anda. Hasil  pengukuran dijabarkan dalam satuan frame per detik (FPS). Semakin tinggi angkanya, semakin mulus game bisa berjalan. 

      section(data-bespoke-state='cover')
        ul
          li <h3>8. Linpack</h3>
          li <img src="8b.jpg" height="250px" style="float: left;">
          li Aplikasi yang satu ini akan mengukur kinerja single dan multi-threading dari prosesor yang tertanam di perangkat Anda. Kinerja diukur dari seberapa banyak operasi floating point yang dapat dilakukan dalam waktu satu detik, dalam satuan juta (millions of floating point operations per second, atau MFLOPS). Skor perangkat bisa disimpan atau di-upload ke situs Linpack sehingga Anda bisa berkompetisi melawan pemilik perangkat lain.



      section(data-bespoke-state='cover')
        h2 Beberapa Aplikasi Android yang Kami Sarankan
        ul
          li
          li 1. 5 Aplikasi Utility yang Kami Sarankan
          li 2. 5 Aplikasi Game yang Kami Sarankan
          li 3. 5 Aplikasi Social Media yang Kami Sarankan
          li 4. 5 Aplikasi Media yang Kami Sarankan

      section(data-bespoke-state='cover')
        ul
          li <h2> 5 Aplikasi Utility yang Kami Sarankan

      section(data-bespoke-state='cover')
        ul
          li <h3>1. AppGarden Lite (gratis)</h3>
          li <img src="1u.jpg" width="250px" height="250px">
          li tampilannya terlihat tanggal dan appGarden Line juga ringan,kontainer mundur,kompatibel dengan puluhan utility yang berguna,dari grafik  konversi ke scanner  bercode ke generator password dan anda juga dapat membuat petunjuk utilitas favorit anda untuk akses cepat.contoh : stopwatch , kalkulator mata uang

      section(data-bespoke-state='cover')
        ul      
          li <h3>2. Avast Mobile Security </h3>
          li <img src="2u.jpg" height="250px">
          li dimana paket aplikasi benar-benar gratis dalam satu ton fitur keamanan,seperti remote wipe,remote kunci,manajemen aplikasi,browser web aman,manajer baterai,mesin tob-rated antivirus  yang melewati AV-Test yang tesnya dengan warna terbang.Namun tidak memiliki fitur backup.

      section(data-bespoke-state='cover')
        ul
          li <h3>3. Auto Memory Manager</h3>
          li <img src="3u.jpg" width="250px" height="250px" style="float: left;">
          li dimana ketika android anda perlu meningkatkan kinerja,salah satu cara yang paling jelas adalah untuk meng-upgrade atau mengelola memori.Dan Auto Memory Manager adalah sebuah aplikasi yang didukung iklan yang memberikan informasi rinci memori dan memungkinkan anda menetapkan prioritas memori pada aplikasi .Ini juga perlu men-download ketika ponsel android anda mulai merasa lemash


      section(data-bespoke-state='cover')
        ul 
          li <h3>4. History Eraser Pro</h3>
          li <img src="4u.jpg" height="250px">
          li untuk memudahkan untuk menghapus sampah dari telepon anda,aplikasi ini menuntun anda memalui segala macam data,dari pesan teks ke browser history ke file cache.

      section(data-bespoke-state='cover')
        ul 
          li <h3>5. Beautiful Widgets</h3>
          li <img src="5u.jpg" height="250px">
          li memungkinkan anda untuk menyesuaikan homescreen ponsel anda,dengan laporan cuaca,jam,status baterai,dan elemen yang berbeda,ini adalah aplikasi sederhana yang membuat homescreen android anda lebih berguna bagi anda.


      section(data-bespoke-state='cover')
        h2 5 Aplikasi Game yang Kami Sarankan

      section(data-bespoke-state='cover')
        ul
          li 1. The Match : Striker Soccer G11
          li <img src="strikersoccerg11.jpg">
          li Game ini adalah game terbaru keluaran dari Samsung Galaxy 11. Game ini adalah game sepakbola melawan alien dengan 11 pemain sepakbola terbaik dari bumi. Game ini memerlukan Android versi 2.3.3 dan kapasitas 70 MB. Tertarik? Ayo coba game baru yang menantang ini.

      section(data-bespoke-state='cover')
        ul
          li 2. Cut The Rope 2
          li <img src="cuttherope2.png">
          li Game ini adalah game yang akan mengasah otak anda untuk menemukan cara agar si kodok dapat memakan bola yang ada. Game ini memerlukan Android versi 2.2. 

      section(data-bespoke-state='cover')
        ul
          li 3. Clash of Clans
          li <img src="clashofclans.jpg">
          li Clan Wars!! Game ini adalah salah satu game terlaris saat ini. Game ini dimainkan secara online. Anda dapat membangun suatu desa milik anda untuk anda kembangkan dan dapat juga menyerang lawan dari desa yang lain. Game ini memerlukan Android versi 4.0.3 dan kapasitas 50 MB.

      section(data-bespoke-state='cover')
        ul
          li 4. Magic Piano by Smule
          li <img src="magicpiano.jpg">
          li Bagi anda yang suka akan game rhythm atau musik, game ini cocok sekali untuk anda. Anda dapat memainkan lagu melalui layar perangkat anda dengan cara tap pada setiap node yang berad pada garis nada. Game ini memerlukan Android versi 4.0 dan kapasitas 21 MB.

      section(data-bespoke-state='cover')
        ul
          li 5. Hay Day
          li <img src="hayday.png">
          li Game ini akan membuat anda serasa mempunyai peternakan dan pertanian sendiri. Game ini dimainkan secara online. Game ini memerlukan Android versi 4.0.3 dan kapasitas 59 MB. Berminat mengembangkan peternakan sendiri? Ayo segera download aplikasi ini di Google Play.

      section(data-bespoke-state='cover')
        h2 5 Aplikasi Sosial Media yang Kami Sarankan

      section(data-bespoke-state='cover')
        ul
          li <h3>1. Facebook</h3>
          li <img src="fb.png" width="280px" height="280px" style="float: left;">
          li Jumlah pengguna aplikasi ini sebanyak 44 persen dari seluruh pengguna smartphone di seluruh dunia. Aplikasi ini akan membantu Anda terhubung dengan teman-teman Anda, meng-upload foto dan mengirim pesan instan. Aplikasi Facebook dilengkapi dengan hampir semua fitur yang ditawarkan media jejaring sosial raksasa lainnya. Banyak orang yang beranggapan bahwa aplikasi Facebook merupakan aplikasi paling banyak digunakan tetapi ternyata tidak. Facebook hanya menempati posisi kedua.

      section(data-bespoke-state='cover')
        ul
          li <h3>2. Twitter</h3>
          li <img src="twitter.jpg" width="250px" height="253px" style="float: left;">
          li Siapa yang tak kenal Twitter, Jejaring sosial yang satu ini adalah Jejaring Sosial yang paling nyentrik, bagaimana tidak? di Twitter kita bisa mencari tahu apa yang menjadi pembahasan pada hari ini di Dunia atau pun di dalam Negeri sebut saja Trend Topic, kini Aplikasi Twitter ini sudah mendapatkan Updatean terbaru langsung dari Play Store, jika anda ingin mempunya aplikasi ini, Twitter dapat di Unduh dengan cara cuma-cuma.


      section(data-bespoke-state='cover')
        ul
          li <h3>3. Instagram</h3>
          li <img src="insta.jpeg" width="250px" height="150px" style="float: right;">
          li Jumlah pengguna instagram sekitar 11 Persen. Instagram adalah aplikasi berbagi foto paling populer ini digunakan oleh hampir 11 persen dari populasi smartphone dunia. Instagram memungkinkan pengguna untuk mengambil gambar, video dan berbagi mereka di Facebook, Twitter dan situs jejaring sosial lainnya. Aplikasi ini menyediakan pilihan untuk menerapkan filter yang membuat gambar terlihat mirip dengan gambar Polaroid. Gambar dapat diubah ukurannya menjadi bentuk persegi dan juga video pendeknya dapat di-upload melalui akun Instagram yang menghubungkan ke situs jejaring sosial lainnya. 

      section(data-bespoke-state='cover')
        ul
          li <h3>4. Skype</h3>
          li <img src="skype.jpg" width="298px" height="160px" style="float: left;">
          li Jumlah pengguna smartphone rata-rata 22 persen dari seluruh smartphone. Layanan VoIP paling populer di dunia layanan VoIP Skype juga memiliki aplikasi untuk platform mobile yang memungkinkan pengguna untuk melakukan panggilan suara dan video melalui internet. Komunikasi audio visual dengan orang yang Anda dekat dan sayang dapat dilakukan melalui telepon dengan aplikasi ini. Skype juga menyediakan fasilitas pesan instan. Panggilan yang dibuat antara dua pengguna Skype bebas, namun panggilan ke telepon darat dan ponsel akan dikenakan biaya. Skype juga menyediakan fasilitas video conference.

      section(data-bespoke-state='cover')
        ul
          li <h3>5. Foursquare</h3>
          li <img src="fq.jpg" width="200px" height="350px" style="float: left;">
          li Foursquare merupakan sosial media check in yang bisa anda gunakan untuk mengingat tempat mana saja yang pernah anda kungjungi. Tidak hanya itu saja, anda bisa melihat beberapa saran teman ataupun mencari informasi mengenai tempat yang enak dikunjungi.   

      section(data-bespoke-state='cover')
        h2 5 Aplikasi Media Player yang Kami Sarankan

      section(data-bespoke-state='cover')
        ul
          li <h3>1. Poweramp Music Player</h3>
          li <img src="1m.jpg" width="200px" height="350px" style="float: left;">
          li Poweramp menawarkan fitur equalizer yang cukup baik. Anda juga dapat menambahkan aturan sesuka hati, tentunya selain preset yang telah disediakan. Yang asyik di Poweramp, pengaturan suara bass dan treble dipisah, sehingga lebih banyak yang dapat dikulik demi menghasilkan suara yang renyah di telinga. Anda memiliki berbagai file musik dengan beragam format? Anda tetap dapat memainkannya di Poweramp. Aplikasi ini mendukung format mp3, mp4/m4a (alac), ogg, wma, flac, wav, ape, wv, tta, mpc, dan aiff.

      section(data-bespoke-state='cover')
        ul
          li <h3>2. Winamp</h3>
          li <img src="2m.jpg" width="200px" height="350px" style="float: left;">
          li Secara keseluruhan, Winamp di Android dan PC tidak ada perbedaan fitur dan warna dasar. Winamp di Android menawarkan fitur sinkronisasi nirkabel yang dapat dinikmati secara gratis. Anda juga dapat meng-import beragam lagu dan playlist yang ada di iTunes. Inilah yang menjadi salah satu kelebihan yang ditawarkan oleh Winamp. Anda juga dapat mendengarkan lagu streaming via Last.fm. Biografi, discografi, dan berita terbaru seputar penyanyi yang Anda gemari juga dapat diakses melalui Winamp.

      section(data-bespoke-state='cover')
        ul
          li <h3>3. TuneWiki</h3>
          li <img src="3m.jpg" width="200px" height="350px" style="float: left;">
          li Anda gemar berkaraoke? aplikasi ini mungkin cocok untuk Anda. Pasalnya TuneWiki dapat mencari lirik lagu yang sedang Anda dengar secara otomatis. Lirik tersebut ditampilkan secara mengambang sesuai dengan kata-kata yang sedang didengarkan, mirip saat Anda sedang berdendang di karaoke. Di dalamnya juga terdapat media sosial yang dapat menghubungkan Anda dengan penggemar musik di seluruh dunia. Anda juga dapat membagikan lagu yang sedang didengarkan ke teman Facebook dan Twitter.

      section(data-bespoke-state='cover')
        ul
          li <h3>4. MX Player</h3>
          li <img src="4m.png" width="200px" height="350px" style="float: left;">
          li Fitur yang dimiliki memang sebanding dengan popularitas video player ini. MX Player dapat memainkan sebagian besar format video. Dan MX Player adalah aplikasi pertama di Android yang mendukung multi-core decoding yang dapat meningkatkan kinerja video. Fitur lain yang dimiliki oleh MX Player antara lain adalah Hardware Decoding, Pinch to Zoom, Kids Lok, Subtitle Scroll.

      section(data-bespoke-state='cover')
        ul
          li <h3>5. BSPlayer</h3>
          li <img src="5m.jpg" width="200px" height="350px" style="float: left;">
          li BSPlayer dapat bekerja dengan baik dalam perangkat CPU ARMv5 sampai ARMv7. Grafis yang dimiliki aplikasi pemutar video ini tampak mengesankan, di dalamnya terdapat tombol pause/play, next/previews yang terlihat realistis anda juga bisa mengubahnya. Beberapa fitur pemutar multi core HW decoding, background playback, multiple audio stream dan BSPlayer bisa memutar video yang dikompresi dalam file RAR. Terdapat juga fitur streaming melalui RTSP, RTMP, dan HTTP, dan fitur yang akan menghemat baterai saat memain video, Subtitle dan playlist, playback media file melalui Wi-Fi.

      section(data-bespoke-state='cover')
        h2 Android Google Play
        ul
          li
          li 1. Apa itu Google Play?
          li 2. Fungsi Google Play
          

      section(data-bespoke-state='cover')
        h2 Apa itu Google Play?

      section(data-bespoke-state='cover')
        ul
          li <img src="googleplay.jpg">
          li Google Play adalah layanan konten digital milik Google yang melingkupi toko online untuk produk-produk seperti musik/lagu, buku, aplikasi, permainan, ataupun pemutar media. Layanan ini dapat diakses baik melalui web, aplikasi android (Play Store), dan Google TV. Google Play mulai dikenalkan pada bulan maret 2012 sebagai pengganti dari Android Market dan Layanan Musik Google.


      section(data-bespoke-state='cover')
        ul
          li <h3> Fungsi Google Play
          li <img src="gambar.jpeg" height="250px" style="float: left;">
          li  Google Play service berguna untuk memperbaharui Aplikasi-Aplikasi Google dan juga aplikasi yang berada di Google Play. Dengan Google Play Services kita bisa melihat data otentikasi aplikasi lain atau website lain yang terhubung ke akun Google kita, Sinkronisasi Kontak, juga layanan peta google.

     
      section(data-bespoke-state='cover')
        h2 Jenis-jenis layar pada Smartphone Android
        ul
          li
          li 1. IPS LCD
          li 2. Amoled
          li 3. TFT

      section(data-bespoke-state='cover')
        ul
          li 1. Layar IPS LCD
          li Jenis layar IPS LCD ini banyak kita jumpai dalam smartphone kelas menengah ketas, namun sebelumnya perlu kita pahami tentang apa itu jenis layar IPS LCD. IPS (In Plane Swtiching) merupakan suatu panel teknologi LCD  yang mampu menampilkan banyak perbedaan ketika dipandang mata secara normal. Layar dengan teknologi IPS ini menawarkan hasil gambar yang sangat bagus dan cocok untuk fotografi. Sedangkan kelemahan dari layar yang menggunakan teknologi IPS LCD ini adalah konsumsi daya yang tergolong besar dan juga kecerahannya tidak bisa tampil sempurna.

      section(data-bespoke-state='cover')
        ul
          li 2. Layar Amoled
          li Kita sering mendengar nama layar AMOLED untuk smartphone terbaru, apa itu layar AMOLED?? AMOLED (Active Matrix Organic Light Emitting Diode) adalah jenis layar yang menggunakan teknologi OLED (Organic Light Emitting Diode). Sedang OLED sendiri merupakan sebuah benda padat yang memiliki filmyang sangat tipis yang  mengandung molekul organik dan mampu menghasilkan cahaya apabila mendapat aliran listrik. Teknologi OLED memiliki ketajaman layar yang tergolong tinggi namun memiliki daya yang tergolong rendah. Dengan AMOLED merupakan wujud transformasi dari OLED biasa yang mempu merubah setiap pixel secara langsung dan sangat efisien.

      section(data-bespoke-state='cover')
        ul
          li 3. Layar TFT
          li TFT merupakan kepanjangan dari Thin Film Transistor yang merupakan jenis layar yang menggunakan teknologi LCD. Layar dengan menggunakan jenis layar FTF ini mampu memberikan resolusi yang cukup baik dan layar TFT juga mampu menampilkan gambar yang mengusung berjuta warna. Layar dengan jenis TFT ini tergolong mahal dan juga mampu menyedot daya yang sangat besar. Kelebihan dan kelemahan dari Layar yang menggunakan teknologi TFT adalah memiliki tampilan layar yang tergolong tajam dan juga jenih serta mempu menerima respon sentuhan yang sangat cepat. Sedang kekurangannya adalah boros baterai.

          
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild